@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #151a28;
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.containerA {
    grid-column: 1/2;
}

.containerB {
    grid-column: 2/3;
}

#Layer_1 {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
}

#Layer_1 svg {
    position: fixed;
    height: 100%;
    right: 0;
}

#girl1 {
    position: fixed;
    z-index: 1;
    width: 400px;
    height: 624.34px;
    right: 80px;
}

#Layer_2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}


#Layer_2 svg {
    position: fixed;
    height: 50%;
    bottom: 0;
    right: 120px;
}

.reflector {
    width: 0;
    height: 191px;
    box-shadow: 4px 195px 40px 20px #d4af37;
    top: -167px;
    position: fixed;
}

.ref1 {
    right: 480px;
    transform: rotate(-6deg);
    animation: moveleft 3s linear infinite;
}

.ref2 {
    right: 100px;
    transform: rotate(6deg);
    animation: moveright 3s linear infinite;
}

.color {
    fill: rgb(165, 24, 24);
}

.description {
    /* border: 0.5px solid white; */
    width: 30vw;
    height: 20vh;
    position: fixed;
    color: white;
    left: 20vw;
    top: 40vh;
    opacity: 0;
    transition: opacity 1s;
}

.show {
    opacity: 1;
}

.description h1 {
    color: #d4af37;
    font-family: 'Pinyon Script', cursive;
    opacity: 0.8;
    text-align: center;
    margin-bottom: 3vh;
}

.description .decoration {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 5vh;
}

.timeline {
    position: fixed;
    width: 100%;
    height: 100vh;
}

section {
    height: 100vh;
}

section svg {
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in;
}

.buttons {
    position: fixed;
    left: 33%;
    bottom: 2%;
    /* bottom: 20%; */
    color: black;
}

button {
    /* background-color: DodgerBlue; */
    border: none;
    color: white;
    padding: 12px 16px;
    /* font-size: 16px; */
    cursor: pointer;
    background-color: transparent;
}

#music-btn {

    /* width: 40px;
    height: 30px; */
}

#info-btn {}


@keyframes moveleft {
    0% {
        transform: rotate(-8deg);
    }

    50% {
        transform: rotate(-55deg);
    }

    100% {
        transform: rotate(-8deg);
    }
}

@keyframes moveright {
    0% {
        transform: rotate(8deg);
    }

    50% {
        transform: rotate(55deg);
    }

    100% {
        transform: rotate(8deg);
    }
}

@media only screen and (max-width:614px) {

    .timeline,
    section {
        opacity: 0;
    }
}

@media only screen and (max-width:800px) {

    #girl1 {
        width: 300px;
        height: 468.25px;
        top: 0;
        right: 135px;
    }

    .reflector {
        height: 301px;
    }

    .description {
        position: fixed;
        z-index: 1;
        width: 35vw;
        height: 20vh;
        left: 40%;
        top: 65vh;
        font-size: 0.8rem;
    }

}